body {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
    margin: 0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;

    border: 0;
    background-color: #e5e5e5;
}

/*container*/
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/*Intro*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../images/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro_title {
    font-size: 130px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    color: #fff;
}

.intro_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto 0;
}

.intro_suptitle {
    font-size: 62px;
    margin-bottom: 20px;
    color: #fff;
    font-family: "Kaushan Script", cursive;
    text-align: center;
}

/*Header*/
.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/*Nav*/
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #fff;
    text-decoration: none;

    transition: color 0.1s linear;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity 0.1s linear;
}

.nav_link:hover {
    color: #fce38a;
}

.nav_link:hover:after,
.nav_link.active:after {
    opacity: 1;
}

.nav_link.after {
    color: #fce38a;
}

/* Button*/
.btn {
    display: inline-block;
    vertical-align: top;
    border: 3px solid #fff;
    padding: 8px 30px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
    transition: background 0.1s linear, color 0.1s linear;
}

.btn:hover {
    background: #fff;
    color: #333;
}

/*Slider*/
.slider {
    width: 100%;
    position: absolute;
    margin-top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider_inner {
    display: flex;
    justify-content: space-between;
}

.slider_item {
    width: 23%;
    padding: 20px 0;
    position: relative;
    border-top: 3px solid #fff;
    opacity: 0.7;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.slider_item.active {
    opacity: 1;
}

.slider_item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: crimson;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider_num {
    font-size: 24px;
    font-weight: 700;
}

/*Section*/

.section {
    padding: 80px 0;
}

.section--devices {
    padding-bottom: 0;
    margin-bottom: 40px;
    background: url("../images/design.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.section--gray {
    background-color: #f8f8f8;
}

.section_clients {
    padding-top: 60px;
    background: url("../images/say.jpg") center no-repeat;
    margin-top: 50px;
    -webkit-background-size: cover;
    background-size: cover;
}


.section--map{
    padding: 40px 0;
    margin-top: 120px;
    
    background: url("../images/blog/MoGo_FREE_Template_by_Laaqiq_29.png") center no-repeat;
}

.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;

    text-align: center;
}

.section_suptitle {
    font-family: "Kaushan Script", cursive;
    font-size: 24px;
    color: #333;
}

.section_title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color: crimson;
}

.section_text {
    font-size: 15px;
    color: #999;
}

/*About*/
.card {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.card_item {
    width: 380px;
}

.card_inner {
    position: relative;
    background-color: #95e1d3;
}

.card_item:hover .card_img {
    transform: translate3d(-10px, -10px, 0);
}

.card_item:hover .card_img img {
    opacity: 0.1;
}

.card_item:hover .card_text {
    opacity: 1;
}

.card_img {
    background: linear-gradient(to bottom, #f38181, #fce38a);

    transition: transform 0.1s linear;
}

.card_img img {
    display: block;
    transition: opacity 0.2s linear;
}

.card_text {
    width: 100%;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity, 1s, linear;
}

/*statistics*/
.statistics {
    background-color: #95e1d3;
}

.stat {
    display: flex;
}

.stat_item {
    flex: 1 1 0;
    padding: 70px 25px;
    border-left: 1px solid #b5eae0;
    color: #fff;
    text-align: center;
}

.stat_item:last-child {
    border-right: 1px solid #b5eae0;
}

.stat_num {
    margin-bottom: 10px;

    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.stat_text {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

/*Services*/
.services {
    display: flex;
}

.services_item {
    flex: 1 1 0;
    padding-right: 35px;
    padding-left: 85px;
    position: relative;
}

.services_icon {
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;
}

.services_title {
    margin-bottom: 10px;

    font-size: 14px;
    text-transform: uppercase;
    color: #333;
}

.services_text {
    font-size: 15px;
    color: #999;
}

/*Devices*/

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices_item {
    display: block;
}

.devices_item--ipad {
    margin-top: 80px;
}

.devices_item--iphone {
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
}

/* we do*/
.wedo {
    display: flex;
}

.wedo_item {
    width: 50%;
}

/*Accordion*/

.accordion_item {
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
}

.accordion_item.active .accordion_content {
    display: block;
}

.accordion_item.active .accordion_header {
    border-bottom-color: #e5e5e5;
}

.accordion_item.active .accordion_header:after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}

.accordion_header {
    padding: 15px 20px 15px 60px;
    position: relative;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.accordion_header:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
}

.accordion_icon {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;

    transform: translateY(-50%);
}

.accordion_content {
    padding: 15px 20px;
    display: none;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}

.accrodion_title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

/*Reviews*/
.reviews {
    padding: 0 110px;
    position: relative;
}

.reviews_item {
    padding-left: 205px;
    position: relative;
}

.reviews_photo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews_photo_rew {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews_text {
    margin-bottom: 15px;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}

.reviews_author {
    font-size: 24px;
    margin-left: 40px;
    color: #333;
    font-family: "Kaushan Script", cursive;
}

.reviews_author:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;
    background-color: crimson;
}

.reviews_btn {
    font-size: 0;
    color: transparent;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews_btn:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
}

.reviews_btn--prev {
    left: 0;
    transform: rotate(-45deg);
}

.reviews_btn--next {
    right: 0;
    transform: rotate(135deg);
}

.team_img {
    width: 380px;
    position: relative;
    background-color: #95e1d3;
}

/*Card*/

.card_info_name {
    font-size: 20px;
    color: #333;
    text-align: center;
    margin-top: 30px;
}


.card_info {
    font-size: 14px;
    color: #999;
    text-align: center;
    margin-bottom: 100px;
}


.sponsors {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/*Works*/
.works {
    display: flex;
    margin-bottom: 50px;
}


.works_col {
    flex: 1 1 0;
}

.works_item {
    position: relative;

    background: linear-gradient(to bottom, #f38181, #fce38a)
}

.works_item:hover .works_img {
    opacity: .1;
}


.works_item:hover .works_info {
    opacity: 1;
}

.works_img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity .2s linear;
}

.works_info {
    width: 100%;
    padding: 0 15px;

    text-align: center;
    color: #fff;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;

    transform: translate3d(0, -50%, 0);
    z-index: 1;
    transition: opacity .2s linear;
}


.works_title {
    margin-bottom: 5px;

    font-size: 14px;
    text-transform: uppercase;
}

.works-text {
    font-size: 15px;
    font-style: italic;
}

.photo {
    border-radius: 50%;
    position: absolute;
    left: 0;
    margin-right: 100px;
    z-index: 1;
}



/*Clients*/

.clients {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.clients_item {
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
    margin-bottom: 40px;
}

.clients_photo {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
}


.clients_name {
    margin-bottom: 5px;
    font-size: 15px;
    color: #333;
    text-transform: uppercase;
}

.clients_prof {
    font-size: 15px;
    color: #333;
    font-style: italic;
    font-weight: 300;
}


.clients_text {
    color: #999;
    font-size: 15px;
    margin-bottom: 60px;

}


.clients_text:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px 0;


    background-color: #f38181;
}

.blog_content {
    flex: 50%;
}


/*Blog*/

.blog {
    display: flex;
    justify-content: space-between;
}

.blog_item {
    width: 31%;
}


.blog_header {
    position: relative;
    margin-bottom: 14px;
}

.blog_photo {
    display: block;
    max-width: 100%;
    height: auto;

}

.blog_date {
    padding: 10px 20px;

    background-color: #95e1d3;

    font-style: italic;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    text-align: center;


    position: absolute;
    bottom: 10px;
    left: -10px;
    z-index: 1;
}


.blog_date--day {
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    font-style: normal;
}

.blog_content {
    margin-bottom: 10px;
}


.blog_title {
    margin-bottom: 10px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}


.blog_title a {
    color: inherit;
    text-decoration: none;
}



.blog_title a:hover {
    text-decoration: underline;
}


.blog_text {
    font-size: 15px;
    color: #999;

}



.blog_footer {
    padding-top: 14px;
    border-top: 1px solid #e5e5e5;

    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999;

}


.blog-stat_item {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}


.map{
    text-align: center;
}

.map_title a{
    text-decoration: none;
    color: #f38181;
    font-size: 24px;
    font-weight: 700;
}


.map_title a:hover{
    text-decoration: underline;
}

.map_title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px auto 0;
    background-color: #f38181;

}